/* Global styles */
:root {
  --my-gray-color: #e3e3e3;
  --light-gray: #aaa;
  --pink: #ec5791;
  --light-pink: #ecc2d3;
  --dark-background: #111010;
  --transparent-background: rgb(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-background);
  color: var(--my-gray-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Risque", cursive;
  letter-spacing: 3px;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: var(--my-gray-color);
}

.btn {
  padding: 15px 10px;
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  border: 0px solid white;
  box-shadow: 0px 4px 4px -4px rgb(0, 0, 0, 0.8);
}

.btn-pink {
  background-color: var(--pink);
}

.btn-pink:hover {
  background-color: var(--light-pink);
  transition: background-color 300ms ease-in-out;
}

.contact-btn {
  padding: 15px 20px;
  background-color: #480f92c2;
}

.contact-btn:hover {
  background-color: #7f26f3c2;
  transition: background-color 300ms ease-in-out;
}

.social {
  padding-top: 20px;
}

.social svg path {
  fill: var(--pink);
}

.social svg path:hover {
  fill: var(--light-pink);
}

.container {
  margin: 0 auto;
  padding: 4rem 0.625rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  padding: 15px 20px;
}

.card-box {
  box-shadow: 0px 5px 15px -6px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Navigation styles */
nav {
  padding: 0px 10px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 1.5rem;
}

.nav-center li:hover {
  background-color: #666;
  transition: background-color 300ms ease-in-out;
}

nav .logo {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: url("images/avater.png");
  background-size: cover;
  background-position: center center;
}

/* Hero styles*/

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header-image {
  width: 100%;
  height: 450px;
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header-text {
  position: absolute;
  top: 80px;
  max-width: 700px;
  width: 100%;
  text-align: center;
}

header p {
  margin-top: 10px;
  font-size: 18px;
}

/* About styles */
.about-content {
  position: relative;
  background-color: var(--transparent-background);
  color: var(--my-gray-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-top {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h2 {
  color: var(--pink);
  text-align: center;
  font-size: 52px;
}

.about-top img {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
  height: 100%;
}

.about-content p {
  margin-top: 10px;
  text-align: justify;
}

/* Gallery styles */
#gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-container img {
  max-height: 250px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact styles */
#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--transparent-background);
  width: 100%;
}

#contact .contact-text {
  max-width: 450px;
  width: auto;
  text-align: center;
}

.contact-text p {
  margin-top: 10px;
  padding: 0px 10px;
}

#contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  background-image: url("images/nice-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  max-width: 600px;
  width: 100%;
  margin-top: 10px;
  border: 5px solid var(--dark-background);
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  outline-style: none;
  border: 0px;
}
.input-group input {
  padding: 12px 20px;
}

.input-group textarea {
  padding: 30px;
}

.input-group input:focus,
.input-group textarea:focus {
  background-color: #ccc;
}

.contact-form button {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

footer p {
  margin-top: 20px;
  text-align: center;
  font-family: Risque, cursive;
  color: var(--light-gray);
}

/* Responsive for large screens */
@media only screen and (min-width: 991px) {
  /* Header for large screen */
  header {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .header-image {
    position: relative;
    order: 2;
    margin-top: 80px;
    max-width: 350px;
    width: 100%;
    height: 450px;
    background-position: center center;
    border-radius: 10px;
    transform: rotate(10deg);
  }

  .header-text {
    position: relative;
    max-width: 500px;
  }

  header h1 {
    font-size: 48px;
  }

  /* About for large screens */
  .about-top {
    flex-direction: row;
  }

  .about-top img {
    order: 2;
    max-width: 400px;
  }
  .about-top p {
    order: 1;
    max-width: 600px;
    margin-right: 25px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-container img {
    max-width: 300px;
  }
}
